* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --gray800: #2d2828;
  --gray500: #252222;
  --red500: #ff0000;
}

body {
  background: #ffffff;
  background: url("../../public/assets/background.jpg") no-repeat center center
    fixed;

  background-size: cover;
}

hr {
  border-top: 1px dashed red;
  margin: 2rem 0;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
button,
input,
textarea,
select,
option {
  font: 500 1rem "Inter", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}
