.container {
  display: flex;
  flex-direction: column;
}

.comics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.content {
  padding: 2.5rem;
  margin-top: 8rem;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
  }
}
